.btn-container,
.zoom-slider {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-container input {
	margin-right: 10px;
}

.pin-table,
th,
td {
	border: 1px solid black;
	padding: 10px;
	position: relative;
}

tbody,
tr {
	position: relative;
}

.pin-table tr th {
	padding-right: 20px;
	padding-left: 20px;
}

.pin-table {
	border-collapse: collapse;
	/* display: none; */
}

.pin-row td:nth-child(2) {
	position: relative;
	width: 100%;
	overflow: auto hidden;
}

svg {
	position: relative;
}

svg line {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(10px, -50%);
	height: 100%;
	stroke: rgba(0, 0, 255, 0.3);
	stroke-width: 50;
}
